.vs/

GlobalElevation/x64/
GlobalElevation/GlobalElevation.sln

GlobalElevation/GlobalElevation/x64

GlobalElevation/GlobalElevation/GlobalElevation.vcxproj
GlobalElevation/GlobalElevation/GlobalElevation.vcxproj.filters
GlobalElevation/GlobalElevation/GlobalElevation.vcxproj.user